body {
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("./assets/back.jpg");
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.logo-title {
  height: 14rem;
  margin-top: -2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(44, 6, 8, 0.7);
}

.logo {
  height: 100%;
}

.title {
  margin-right: 30rem;
  margin-top: 4.5rem;
  font-family: "Bebas Neue", cursive;
  font-size: 3.4rem;
  font-weight: 300;
  color: white;
}

.nav-container {
  background-color: rgba(44, 6, 8, 0.7);
}

nav {
  margin-top: -5rem;
}

.navItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Oswald", sans-serif;
  font-size: 1.35rem;
  font-weight: 400;
}

.link {
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 5px 5px;
  overflow: hidden;
  vertical-align: bottom;
  transition: color 0.3s ease-out;
}

.link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(calc(100% - 2px));
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(
      60deg,
      rgb(255, 0, 0) 0%,
      rgb(255, 0, 0) 100%
    );
  transition: transform 0.25s ease-out;
}

.link:hover {
  color: white;
}

.link:hover::before {
  transform: translateY(0);
  transition: transform 0.25s ease-out;
}

.now {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  font-weight: 300;
  margin-top: -0.2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
}

.slider-container {
  margin-top: -2rem;
  background-color: rgba(0, 0, 0, 0.95);
  padding-bottom: 2rem;
  color: white;
}

.mainSlider {
  margin: 2rem;
  color: white;
  background-color: rgba(44, 6, 8, 0.35);
}

.ms-details {
  color: white;
  display: flex;
  justify-content: center;
}

.ms-title,
.ms-movie {
  text-align: center;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.75rem;
}

.ms-image {
  display: block;
  margin: auto;
}

.ms-date {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 1.55rem;
}

.ms-overview {
  text-align: center;
  font-family: "Roboto Slab", serif;
}

.ms-vote {
  text-align: right;
  margin-right: 0.85rem;
  font-family: "Roboto Slab", serif;
}

.slick-dots {
  background-color: rgba(255, 255, 255, 0.45);
}

.pm-container {
  width: 100%;
  margin-top: -2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
}

.pm-details {
  width: 18%;
  display: flex;
  flex-direction: column;
  margin-top: 4.4rem;
  margin-left: 1.4rem;
  border-style: solid;
  border-width: 0.15rem;
  border-color: rgb(107, 7, 7);
  padding: 0.5rem;
}

.pm-image {
  display: block;
  margin: auto;
  width: 90%;
}

.pm-title,
.pm-movie {
  text-align: center;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.45rem;
}

.pm-date {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 1.2rem;
}

.pm-vote {
  text-align: right;
  margin-right: 0.85rem;
  font-family: "Roboto Slab", serif;
  font-size: 0.9rem;
}

.pm-overview {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 0.8rem;
}
